<div class="recipe-detail">
  <h1>Rezepttitel</h1>
  <div class="flex">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="recipe">
      <div class="ingredients">
        <h2>Zutaten</h2>
        <ul class="ingredients-list">
          <li>125g rote Linsen</li>
          <li>1/2 Doese geschälte Tomaten</li>
          <li>1/2 Doese geschälte Tomaten</li>
          <li>1/2 Doese geschälte Tomaten</li>
          <li>1/2 Doese geschälte Tomaten</li>
          <li>1/2 Doese geschälte Tomaten</li>
          <li>1/2 Doese geschälte Tomaten</li>
        </ul>
      </div>
      <div class="instruction">
        <h2>Zubereitung</h2>
        <ul class="instruction-list">
          <li class="instrunction-step">
            Zwiebel und Knoblauch schälen und beides fein hacken. Karotten schälen, abspülen und in feine Ringe schneiden.
            Zucchini waschen, Süßkartoffel schälen und beides in ca. 1 cm große Würfel schneiden.
          </li>
          <li class="instrunction-step">
            Zwiebel und Knoblauch schälen und beides fein hacken. Karotten schälen, abspülen und in feine Ringe schneiden.
            Zucchini waschen, Süßkartoffel schälen und beides in ca. 1 cm große Würfel schneiden.
          </li>
          <li class="instrunction-step">
            Zwiebel und Knoblauch schälen und beides fein hacken. Karotten schälen, abspülen und in feine Ringe schneiden.
            Zucchini waschen, Süßkartoffel schälen und beides in ca. 1 cm große Würfel schneiden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>