<header>
  <div class="logo">
   <img src="../assets/img/cookbook.png" alt="cookbook" class="logo-img">
  </div>
  <ul class="navbar">
    <li class="navbar-item">
      <a routerLink="/recipes" routerLinkActive="active">Rezepte</a>
    </li>
    <li class="navbar-item">
      <span [matMenuTriggerFor]="menu" routerLinkActive="active">Profil</span>
      <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/profile">View profile</a>
          <a mat-menu-item routerLink="/profile">Logout</a>
      </mat-menu>
    </li>
  </ul>
</header>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<footer>
    <p>made by Sophie Gahleitner & Michael Sieghartsleitner</p>
</footer>