<div class="register">
    <h1>Registrieren</h1>
    <div class="authBlock">
        <mat-form-field class="form-element">
            <div class="formGroup">
                <input matInput type="text" class="formControl" placeholder="Email" #userEmail required>
            </div>
        </mat-form-field>
        <mat-form-field class="form-element">
            <div class="formGroup">
                <input matInput type="password" class="formControl" placeholder="Passwort" #userPwd required>
            </div>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button (click)="authService.SignUp(userEmail.value, userPwd.value)">Registrieren</button>
        </mat-card-actions>
        <div class="formGroup">
            <span class="or"><span class="orInner">oder</span></span>
        </div>
        <div class="formGroup">
            <mat-card-actions>
                <button mat-raised-button (click)="authService.GoogleAuth()">Login mit Google</button>
            </mat-card-actions>
        </div>
    </div>
    <div class="redirectToLogin" style="margin-top: 5px;">
        <a mat-raised-button routerLink="/login">Du hast schon einen Account?<span> Login</span></a>
    </div>
</div>