<div class="login">
    <h1>Login</h1>
    <div class="authBlock">
        <mat-form-field class="form-element">
            <div class="formGroup">
                <input matInput type="text" class="formControl" placeholder="Email" #userName required>
            </div>
        </mat-form-field>
        <mat-form-field class="form-element">
            <div class="formGroup">
                <input matInput type="password" class="formControl" placeholder="Passwort" #userPassword required>
            </div>
        </mat-form-field>
        <div>
            <mat-card-actions>
                <button mat-raised-button (click)="authService.SignIn(userName.value, userPassword.value)">Login
                </button>
            </mat-card-actions>
        </div>
        <span class="or">oder</span>
        <div class="formGroup">
            <mat-card-actions>
                <button mat-raised-button (click)="authService.GoogleAuth()">Login mit Google</button>
            </mat-card-actions>
        </div>
        <div class="forgotPassword">
            <a mat-raised-button class="forgot-password" routerLink="/forgot-password">Passwort vergessen?</a>
            <a mat-raised-button routerLink="/register">Noch keinen Account?<span> Registrieren</span></a>
        </div>
    </div>
</div>
