<div class="forgot-password">
    <h1>Reset Password</h1>
    <div class="authBlock">
        <p class="text-center">Bitte Mailadresse zum Passwortreset eingeben.</p>
        <mat-form-field class="form-element">
            <div class="formGroup">
                <input matInput type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
            </div>
        </mat-form-field>
        <div class="formGroup">
            <mat-card-actions>
                <button mat-raised-button (click)="authService.ForgotPassword(passwordResetEmail.value)">Zurücksetzen
                </button>
            </mat-card-actions>
        </div>
    </div>
    <div class="redirectToLogin">
        <span>Zurück zu Login? <a mat-raised-button class="redirect" routerLink="/login">Anmelden</a></span>
    </div>
</div>
