<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <p class="text-center">Bitte Mailadresse zum Passwortreset eingeben.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password"
               (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Zurück zu Login? <a mat-raised-button class="redirect" routerLink="/login">Log In</a></span>
    </div>
  </div>
</div>

